---
import BasePage from "~/layouts/BasePage.astro";
import Header from "~/components/Header.astro";

import IssueList from "~/components/IssueList/IssueList.astro";
import IssueCard from "~/components/IssueList/IssueCard.astro";
import IssueEyebrow from "~/components/IssueList/IssueEyebrow.astro";
import IssueTitle from "~/components/IssueList/IssueTitle.astro";

import formatDate from "~/utils/formatDate";

import { getCollection } from "astro:content";

const allIssues = await getCollection("newsletter");

const issues = allIssues.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);

  return dateB.getTime() - dateA.getTime();
});
---

<BasePage
  slug="index"
  title="DEPT® Node Zebra Newsletter"
  description="Node Weekly is our friendly bi-weekly newsletter with edgy tech articles and tools"
  date="2023-03-23"
>
  <Header>
    <h1 class="uppercase text-5xl font-semibold mb-2 text-center">
      Node Zebra
    </h1>
    <p class="text-center">
      Friendly newsletter with edgy tech articles and tools
    </p>
  </Header>

  <div class="py-16 px-4 sm:px-6 lg:px-16 max-w-3xl mx-auto">
    <IssueList>
      {
        issues.map((issue) => (
          <IssueCard title={issue.data.tagline}>
            <IssueEyebrow>
              <span>{issue.data.title.toUpperCase()}</span>
              <span>•</span>
              <span>{formatDate(issue.data.date)}</span>
            </IssueEyebrow>

            <IssueTitle to={`/newsletter/${issue.slug}`}>
              {issue.data.tagline}
            </IssueTitle>
          </IssueCard>
        ))
      }
    </IssueList>
  </div>
</BasePage>
