---
import "~/styles/global.css";
import "~/styles/reset.css";

import Navigation from "~/components/Navigation.astro";
import Footer from "~/components/Footer.astro";
import generateSchema from "~/utils/generateSchema";
import formatDate from "~/utils/formatDate";

export interface Props {
  slug: string;
  title: string;
  description: string;
  date: Date;
}

const { slug, title, description, date } = Astro.props;

const url = Astro.request.url.endsWith("/") ? Astro.request.url.slice(0, -1) : Astro.request.url;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

const imageUrl = slug === "index" ? `${url}/newsletter/index.png` : `${url}.png`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="rbg54Gu2psS2Irca4Ql8LLTUC7049-OvNpCnXdV3scc" />

    <link rel="icon" href="/favicon.ico" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content={slug === "index" ? "website" : "article"} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:site_name" content="Node Zebra Newsletter – DEPT®" />
    <meta property="og:author" content="Bogdan Covrig" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageUrl} />

    <!-- Structured data -->
    <script
      type="application/ld+json"
      set:html={await generateSchema(slug, url, description, imageUrl, formatDate(date))}
    />
  </head>
  <body>
    {slug !== "index" && <Navigation />}
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html {
    font-family: var(--dept-font-family);
    font-weight: 400;
    letter-spacing: -0.03em;
    font-synthesis: none;
    font-size: max(1.25rem, min(0.376vw + 1.162rem, 1.5rem));
    line-height: max(1.75rem, min(0.368vw + 1.664rem, 1.995rem));
  }

  body {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  main {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: auto;
    column-gap: 1.25rem;
    display: grid;
  }
</style>
