---
import DeptLogo from "~/components/DeptLogo.astro";

export interface Props {
  slug?: string;
  title?: string;
  description?: string;
}

const BASE_URL = import.meta.env.DEV
  ? "http://localhost:3000"
  : import.meta.env.SITE;

const { slug, title, description } = Astro.props;

const urlTag = BASE_URL + Astro.url.pathname;
const slugTag = slug ?? "index";
const titleTag = title ?? "Node Zebra Weekly Issues";
const descriptionTag =
  description ??
  "Node Weekly is our friendly newsletter with relevant tech articles and tools";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.ico" />

    <title>{titleTag}</title>
    <meta name="description" content={descriptionTag} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={urlTag} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={titleTag} />
    <meta property="og:description" content={descriptionTag} />
    <meta property="og:image" content=`${BASE_URL}/newsletter/${slugTag}.svg` />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={urlTag} />
    <meta name="twitter:title" content={titleTag} />
    <meta name="twitter:description" content={descriptionTag} />
    <meta
      name="twitter:image"
      content=`${BASE_URL}/newsletter/${slugTag}.svg`
    />
  </head>

  <body class="mx-auto max-w-7xl py-8 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl font-light text-2xl leading-normal">
      <nav class="flex justify-between items-center mb-8">
        <a class="text-black" href="/"><DeptLogo /></a>
        <p class="m-0 text-base font-bold">Node Zebra</p>
      </nav>
      <slot />
    </div>

    <script defer src="/_vercel/insights/script.js"></script>
  </body>

  <style is:global>
    h1 {
      @apply text-4xl font-bold my-4;
    }

    h2 {
      @apply text-3xl font-medium mt-8 mb-2;
    }

    p {
      @apply mb-4;
    }

    ul {
      @apply list-disc list-inside space-y-2 mb-4;
    }

    a {
      @apply font-medium text-blue-900;
    }
  </style>
</html>
